.NavBarItems{
    background:#2c1708;
    height: 80px;
    display: flex;
    align-items: center; 
    font-size: 1.2em;
}

.NavBarItems .logo{
    width: 100px;
    text-align: center;
    position: relative;
    top:40px;
    display: inline;
}

.NavBarItems .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: rgba(94, 94, 94, 0.2) solid;

}
.NavBarItems .logo img:hover{
    transform: rotateY(180deg);
    transition: 0.5s;

}
.NavBarItems .menu1{
    width: 100%;
    text-align: end;
    margin-left: 0px;
}

.NavBarItems .menu2{
    width: 100%;
    text-align: start;
    margin-right: 0px;
}
.NavBarItems ul li{
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    vertical-align: super;
    padding: 15px;
    
}
.NavBarItems ul li:hover 
{
    
    transform: scale(1.2);
    transition: 0.5s;
}
.NavBarItems ul li a:hover {
    color: 	#c08226;
    
}

.nav-links{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.fab 
{
    color: white;
}
.social-icons{
   display: flex;
    text-align: end;
    margin-right: 15px;

}
.menu-icon
{
    text-align: start;
    display: flex;
    margin-left: 15px;
}
.fas {
    color: white;

}